.app {
  width: 100px;
  height: 300px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

h2 {
  text-align: center;
}

.custom-center {
  text-align: center !important;
  width: 300px !important;
}
